In [2]:
for i in range(20):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [5]:
List_num =[10, 20, 14, 55, 43, 87, 76]
len(List_num)

7

In [6]:
tuple1 =(1, 'Welcome', 2, 'Hope')

In [7]:
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [8]:
tuple2 = 1, 'Welcome', 2, 'Hope'

In [14]:
print(tuple2)

(1, 'Welcome', 2, 'Hope')

In [15]:
Tuple1 = tuple('Artificial Intelligence')
print("\nTuple with the use of function: ")
print(Tuple1)
for i in Tuple1:
    print(i)

Tuple with the use of function:
('A', 'r', 't', 'i', 'f', 'i', 'c', 'i', 'a', 'l', ' ', 'I', 'n', 't', 'e', 'l', 'l', 'i', 'g', 'e', 'n', 'c', 'e')
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [18]:
tuple5=((0, 1, 2, 3), ('python', 'HOPE'))

In [19]:
print (tuple5)

((0, 1, 2, 3), ('python', 'HOPE'))

In [20]:
tuple6 = (0, 1, 2, 3)
tuple7= ('python', 'HOPE')
tuple8 = (tuple6,tuple7)
print(tuple8)

((0, 1, 2, 3), ('python', 'HOPE'))

In [2]:
#Print odd numbers
numbers=[20,10,16,19,25,1,276,188]
[i for i in numbers if i%2==1]

[19, 25, 1]

In [3]:
#Print even numbers
numbers=[20,10,16,19,25,1,276,188]
[i for i in numbers if i%2==0]

[20, 10, 16, 276, 188]